name: Second Actions Workflow
run-name: ${{ github.actor }} is learning GitHub Actions
on: [push]
jobs:
  display-python-version:
    runs-on: ubuntu-latest
    steps:
        - uses: actions/checkout@v6
        - uses: actions/setup-python@v6
          with:
            python-version: '3.13'
            architecture: 'x64'
        - name: Display Python version
          run: |
            python -c "import sys; print(f'This runner uses Python: {sys.version} !')"
            echo "Congratulations! Your script completed successfully!"
